@import 'tailwindcss';
:root {
  color-scheme: light !important;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #1193d4;
  --bg-light: #f6f7f8;
  --font-light: #525252;
  --font-title-light: #171717;

  color: var(--font-light);
  background-color: VAR(--bg-light);
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type='date'].blue-icon::-webkit-calendar-picker-indicator {
  filter: invert(35%) sepia(90%) saturate(2000%) hue-rotate(200deg);
}
